<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title></title>
		<meta charset="utf-8"></meta>
    	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<script th:attr="data-main=@{/js/app/main.js}" th:src="@{/js/require.js}"></script>
		<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
		<link rel="stylesheet" th:href="@{/css/skeleton.css}" />
		<th:block th:include="sharedHead :: head"></th:block>
	</head>
	<body>
		<th:block th:include="sharedHeader :: header"></th:block>
		<section class="section">
			<div class="container">
				<div id="page">
					Loading...
				</div>
			</div>
		</section>
	</body>
</html>
