<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login</title>
        <th:block th:include="sharedHead :: head"></th:block>
    </head>
    <body>
    	<div class="container">
	        <div th:if="${param.error}">
	            Invalid username and password.
	        </div>
	        <div th:if="${param.logout}">
	            You have been logged out.
	        </div>
	        
	        <form th:action="@{/login}" method="post">
	            <div class="row"><input class="four columns offset-by-four" type="text" name="username" placeholder="Username"/></div>
	            <div class="row"><input class="four columns offset-by-four" type="password" name="password" placeholder="Password"/></div>
	            <div class="row"><input class="four columns offset-by-four" type="submit" value="Sign In"/></div>	            
	        </form>
	        <div class="row"><div class="four columns offset-by-four"><a href="/register">Register</a></div></div>
        </div>
    </body>
</html>