<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    </head>
    <body>
    	<div th:fragment="header">
	    	<div class="navbar is-primary">
		    	<div class="navbar-menu">
					<a class="navbar-item" href = "#">Game Nights</a> 
					<a class="navbar-item" href = "#profile">My Profile</a>
					<a class="navbar-item" sec:authorize="hasRole('ROLE_ADMIN')" href="#admin">Admin</a>
					<span sec:authentication="name" class="navbar-end"></span>
				</div>
				<div class="navbar-burger"></div>
			</div>
		</div>
    </body> 
</html>