<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:fragment="head">
    	<script th:attr="data-main=@{/js/app/main.js}" th:src="@{/js/require.js}"></script>
		<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
		<link rel="stylesheet" th:href="@{/css/bulma.css}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function () {
	
				  // Get all "navbar-burger" elements
				  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
	
				  // Check if there are any navbar burgers
				  if ($navbarBurgers.length > 0) {
	
				    // Add a click event on each of them
				    $navbarBurgers.forEach(function ($el) {
				      $el.addEventListener('click', function () {
	
				        // Get the target from the "data-target" attribute
				        var target = $el.dataset.target;
				        var $target = document.getElementById(target);
	
				        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
				        $el.classList.toggle('is-active');
				        $target.classList.toggle('is-active');
	
				      });
				    });
				  }
	
				});
		</script>
    </head>
    <body>

    </body>
</html>
